# 의존성 디렉토리
node_modules/

# 빌드 출력
dist
dist-ssr

# 환경 변수 파일
.env
.env.*
!.env.example

# 로그 파일
*.log

# 캐시 파일
.cache
*.tsbuildinfo
.eslintcache

# 에디터 설정
.vscode/*
!.vscode/extensions.json
.DS_Store

# Vite 관련
*.local
vite.config.js.timestamp-*
vite.config.ts.timestamp-*